		img {
			float: left;
			max-height: 2em;
			width: auto;
		}

		div.links {
			clear: left;
		}

		div.indicators {
			margin: 1em;
		}

		div.indicators span {
			display: inline-block;
			color: #999999;
			background-color: #e0e0e0;
			padding: 0.5em 1em 0.5em 1em;
			margin: 0.25em;
		}

		div.indicators span.on {
			color: black;
			background-color: red;
		}

		div.indicators span img {
			height: 1em;
			padding-right: 0.5em;
			opacity: 0.05;
		}

		div.indicators span.on img {
			opacity: 1.0;
		}

		div.options {
			margin: 1em;
		}

		div.options label,
		div.options input {
			cursor: pointer;
		}

		div.temperatures {
			margin: 1em;
		}

		div.temperatures output.NORMAL {
			background-color: #42ff50;
		}

		div.temperatures output.WARNING {
			background-color: #ffae42;
		}

		div.temperatures output.ERROR {
			background-color: #ff4f42;
		}

		div.pressures {
			margin: 1em;
		}

		div.relays {
			margin: 1em;
		}

		div.relays form {
			width: 15em;
			display: inline-block;
		}

		div.heartbeats {
			margin: 1em;
		}

		div.heartbeats output.warn {
			background-color: yellow;
		}

		div.heartbeats output.error {
			background-color: red;
		}

		.tgl {
			display: none;
		}

		.tgl,
		.tgl:after,
		.tgl:before,
		.tgl *,
		.tgl *:after,
		.tgl *:before,
		.tgl+.tgl-btn {
			-webkit-box-sizing: border-box;
			box-sizing: border-box;
		}

		.tgl::-moz-selection,
		.tgl:after::-moz-selection,
		.tgl:before::-moz-selection,
		.tgl *::-moz-selection,
		.tgl *:after::-moz-selection,
		.tgl *:before::-moz-selection,
		.tgl+.tgl-btn::-moz-selection {
			background: none;
		}

		.tgl::selection,
		.tgl:after::selection,
		.tgl:before::selection,
		.tgl *::selection,
		.tgl *:after::selection,
		.tgl *:before::selection,
		.tgl+.tgl-btn::selection {
			background: none;
		}

		.tgl+.tgl-btn {
			outline: 0;
			display: block;
			width: 15em;
			height: 2em;
			position: relative;
			cursor: pointer;
			-webkit-user-select: none;
			-moz-user-select: none;
			-ms-user-select: none;
			user-select: none;
		}

		.tgl+.tgl-btn:after,
		.tgl+.tgl-btn:before {
			position: relative;
			display: block;
			content: "";
			width: 50%;
			height: 100%;
		}

		.tgl+.tgl-btn:after {
			left: 0;
		}

		.tgl+.tgl-btn:before {
			display: none;
		}

		.tgl:checked+.tgl-btn:after {
			left: 50%;
		}

		.tgl-skewed+.tgl-btn {
			overflow: hidden;
			-webkit-backface-visibility: hidden;
			backface-visibility: hidden;
			-webkit-transition: all .2s ease;
			transition: all .2s ease;
			font-family: sans-serif;
			background: #888;
		}

		.tgl-skewed+.tgl-btn:after,
		.tgl-skewed+.tgl-btn:before {
			display: inline-block;
			-webkit-transition: all .2s ease;
			transition: all .2s ease;
			width: 100%;
			text-align: center;
			position: absolute;
			line-height: 2em;
			font-weight: bold;
			color: #fff;
			text-shadow: 0 1px 0 rgba(0, 0, 0, 0.4);
		}

		.tgl-skewed+.tgl-btn:after {
			left: 100%;
			content: attr(data-tg-on);
		}

		.tgl-skewed+.tgl-btn:before {
			left: 0;
			content: attr(data-tg-off);
		}

		.tgl-skewed+.tgl-btn:active {
			background: #888;
		}

		.tgl-skewed+.tgl-btn:active:before {
			left: -10%;
		}

		.tgl-skewed:checked+.tgl-btn {
			background: #86d993;
		}

		.tgl-skewed:checked+.tgl-btn:before {
			left: -100%;
		}

		.tgl-skewed:checked+.tgl-btn:after {
			left: 0;
		}

		.tgl-skewed:checked+.tgl-btn:active:after {
			left: 10%;
		}

		.adminButton {
			float: right;
			margin-right: 20px;
			margin-top: 10px;
		}

		.operatorControlHeader {
			text-align: center;
			padding-top: 50px;
			padding-bottom: 20px;
		}

		.display-4 {
			text-align: center;
		}

		/* Style the tab */
		.tab {
			overflow: hidden;
			border: 1px solid #ccc;
			background-color: #f1f1f1;
			margin-top: 10px;
		}

		/* Style the buttons inside the tab */
		.tab button {
			background-color: inherit;
			float: center;
			border: none;
			outline: none;
			cursor: pointer;
			padding: 14px 16px;
			transition: 0.3s;
			font-size: 17px;
		}

		/* Change background color of buttons on hover */
		.tab button:hover {
			background-color: #ddd;
		}

		/* Create an active/current tablink class */
		.tab button.active {
			background-color: #ccc;
		}

		/* Style the tab content */
		.tabcontent {
			display: none;
			border: 1px solid #ccc;
			border-top: none;
			border-bottom: none;
			border-right: none;
			margin-bottom: 10px;
			width: 100%;
		}

		#evapHeader {
			padding-top: 10%;
			padding-bottom: 5%;
		}

		#extractHeader {
			padding-bottom: 5%;
		}
		
		#bootstrap-overrides {
			padding: 0px 0px 50px 0px;
			margin: 0px 0px 0px 50px;
		}

		#colOne {
			flex-grow: 0;
			padding-right: 10%;
		}

		#Chamber1.tabcontent, #Chamber2.tabcontent, #Chamber3.tabcontent, #Chamber4.tabcontent {
			padding-left: 20px;
		}

		#EChamber1.tabcontent, #EChamber2.tabcontent, #EChamber3.tabcontent {
			padding-left: 20px;
		}

		#relayColTwo {
			padding-left: 100px;
		}

		.commentSection {
			padding-right: 10%;
			padding-left: 3%;
			padding-bottom: 20px;
			padding-top: 10px;
		}

		



		
		  